rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /idiomRooms/{roomId} {
      allow read: if true;
      allow create, update: if true;
      allow delete: if false;

      match /players/{playerId} {
        allow read, create, update: if true;
        allow delete: if false;
      }

      match /answers/{answerId} {
        allow read, create, update: if true;
        allow delete: if false;
      }
    }
  }
}
